{% extends 'efile_export/base.html' %}

{% block content %}
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Efile Exporter</h1>
    <p class="lead">are you ready to <em>rock</em> with 990s?</p>
  </div>
</div> -->
<div id='front-header' class='row splash-row align-items-center'>
  <div class='col-md-12'>
    <h1>Generate custom 990 reports</h1>
    <p class='lead'>Choose organizations from the full set of efiled 990s (beginning TY13) and specify which form parts and schedules you'd like to be exported to spreadsheet.</p>
    <a role='button' class="btn btn-primary btn-lg" href="{% url 'type-form' %}">Start here</a>
  </div>
</div>
<br>
{% comment %}
<div class="card">
  <div class='card-header'>
    Featured Query
  </div>
  <div class="card-body">
    <h5 class="card-title">Special Query</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <a href="#" class="btn btn-dark">Go somewhere</a>
  </div>
</div>
<br>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Saved Query 1</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-dark btn-small">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Saved Query 2</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-dark btn-small">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Saved Query 3</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <a href="#" class="btn btn-dark btn-small">Go somewhere</a>
    </div>
  </div>
</div>
{% endcomment %}
<br>
{% endblock content %}
