{% extends 'efile_export/base.html' %}

{% block content %}
<h1 class="display-3">{{ page_title }}</h1>
<p class="lead">
  {{ description_text|safe }}
  For more details on the schedules, their parts, and the fields within, check our <a href="{% url 'reference-skeds' %}" target="_blank"> documentation.</a>
</p>
  <div id='accordion'>
    {% if form.non_field_errors %}
    <div class="alert alert-warning" role="warning">
      <ul>
      {% for error in form.non_field_errors %}
        <li> {{ error }} </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    <form action="{% url action_url %}" method="post">
      {% csrf_token %}
      {{ form.management_form }}
      {% for sub_form in form %}
      <div class='card'>
        <div class='card-header' id='headingOne'>
          <h5 class='mb-0'>
            <button type='button' class="btn btn-link" data-toggle="collapse" data-target="#collapse{{sub_form.prefix}}" aria-expanded="true" aria-controls="collapse{{sub_form.prefix}}">
              {{ sub_form.parent_sked_name }}
            </button>
          </h5>
        </div>
        <div id="collapse{{sub_form.prefix}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
          <div class='card-body'>
            {% for choice in sub_form.schedule_parts.field.choices %}
            <div class='form-check form-group'>
              <input class="form-check-input" name="{{sub_form.prefix}}-field_names" type="checkbox" value="{{choice.0}}" id="id_{{sub_form.prefix}}-field_names_{{choice.0}}" />
              <label for="id_{{ sub_form.prefix }}-field_names_{{ choice.0 }}">
                {{ choice.1 }}
              </label>
            </div>
            {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
      <button type='submit' class="btn btn-dark">Submit</button>
    </form>
  </div>

{% endblock content %}
