{% extends 'tax_tools/base.html' %}
{% load static %}

{% block custom_stylesheets %}
<link rel='stylesheet' type='text/css' href="{% static 'styles/efile_export.css' %}">
{% endblock custom_stylesheets %}

{% block nav %}
<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'export-home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</div> -->
{% endblock nav %}
