{% extends 'efile_export/base.html' %}
{% load static %}

{% block content %}
  <h1 class="display-3">{{ page_title }}</h1>
  <p class="lead">{{ description_text|safe }}</p>
  <div>
    {% if form.non_field_errors %}
    <div class="alert alert-warning" role="warning">
      <ul>
      {% for error in form.non_field_errors %}
        <li> {{ error }} </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    <form action="{% url action_url %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        {% for field in form %}
          {% if field.error %}
            <div class="alert alert-warning" role="warning">{{ field.error }}</div>
          {% endif %}
          <label for="id_{{ form.prefix }}-field_names_{{ choice.0 }}">
            {{ field.label }}
          </label>
          {{ field }}
          <p class="help-text">{{ field.help_text }}</p>
        {% endfor %}
      </div>
      <button type='submit' class="btn btn-dark">Submit</button>
    </form>
  </div>

{% endblock content %}

{% block footer %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
{% endblock footer %}
